.contact-sec {
	background-color: #0b61b3;
}

.contact-form {
	background: #fff;
	width: 70%;
}

.contact-form .form-control {
	border-radius: 1rem;
}

.contact-image {
	text-align: center;
}

.contact-image img {
	border-radius: 6rem;
	width: 11%;
	margin-top: -3%;
	transform: rotate(29deg);
}

.contact-form form .row {
	padding: 30px 50px;
}

.contact-form h3 {
	text-align: center;
	color: #0b61b3;
}


@media only screen and (min-width: 320px) {
	.contact-form form .row {
		padding: 10px 20px;
	}
}