.text-orange {
	color: #fa8231;
}

.text-blue {
	color: #3185fc;
}

.bg-orange {
	background-color: #fa8231;
}

.bg-blue {
	background-color: #3185fc;
}

.btn-orange {
	background-color: #fa8231;
	color: #ffffff;
	border-color: #fa8231;
}

.btn-blue {
	background-color: #3185fc;
	color: #ffffff;
	border-color: #3185fc;
}

.btn-blue:hover,
.btn-orange:hover {
	color: #ffffff;
}

.btn-orange:hover {
	background-color: #dc2f02;
}

.bg-lightgray {
	background-color: #f8f8ff;
}

.w-80 {
	width: 80%;
}

.heading-line {
	position: relative;
}

.heading-line::before {
	position: absolute;
	content: "";
	top: 52%;
	left: 15%;
	width: 20%;
	height: 1px;
	background-color: #bdbdbd;
	transform: translate(50%, 50%);
}
