.topNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .topNav {
        display: none;
    }
}

.navBtn {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 50px;
    Font-weight: bold;
}

.navBtn:hover {
    background-color: #0b61b3;
    color: white;

}